* {
    margin: 0;
    padding: 0;
}
h1 {
   text-shadow: 0 0 3px #ffffff;
   font-size: 30px;
   text-align: center;
   left: 0;
   line-height: 300px;
   margin-top: -100px;
   position: absolute;
   text-align: center;
   top: 60%;
   width: 100%;
   
}

.front {
    width: 100%;
}

.logoo {
    width: 100%;

    
}




.navbar.transparent.navbar-inverse .navbar-inner .bg-light {
    width: 100%;


}

.bg-light {
    background-color: transparent!important;
}